include LICENSE
include NOTICE
include README.md
include CONTRIBUTORS.md
include data/com.doczeus.NVBroadcast.desktop
include data/com.doczeus.NVBroadcast.metainfo.xml
recursive-include data/icons *.svg
recursive-include data/backgrounds *.png
recursive-include src/nvbroadcast/ui *.css
